$font-primary: 'Inter', sans-serif;

body {
  text-rendering: optimizeLegibility;
  font-family: $font-primary;
}

html {
  scroll-behavior: smooth;
}
.bg {
  &-primary {
  background-color: $primary!important;
  color: $white;
  }
  &-secondary {
  background-color: $secondary!important;
  color: $white;
  }
  &-black {
  background-color: $black;
  color: $white;
  }
  &-gradient {
    background: $primary;
    background: linear-gradient(90deg, $primary 0%, $primary 43%, $secondary 83%);
    color: $white;
  }
}
.text-white-important {
  color: $white!important;
}
section {
  padding: 3rem 1rem;
  position: relative;
  @media only screen and (min-width:$md){
    padding: 4rem 1.5rem;
  }
  @media only screen and (min-width:$lg){
    padding: 6rem 2rem;
  }
}

strong {
  color: $primary;
}
a {
  &:hover {
    text-decoration: none;
    color: $secondary;
    * {
    color: $secondary;
  }
}
}
// h2 {
//   text-transform: uppercase;
//   font-weight: 700;
//   font-size: 3rem;
//   @media only screen and (min-width:$md){
//     font-size: 4rem;
//   }
//   @media only screen and (min-width:$lg){
//     font-size: 5rem;
//   }
//   @media only screen and (min-width:$xl){
//     font-size: 5rem;
//   }
// }
h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  span {
    color: $primary;
  }
}
p {
  font-size: 1.1rem;
  line-height: 1.6;
  span {
    display: block;
  }
}

ul {
  padding-left: 1rem;
  li {
    margin: .75rem 0;
  }
}

.btn {
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0;
  padding: 1rem 2rem;
  min-width: 200px;
  outline: none;
  box-shadow: none!important;
  transition: all .4s;
  &-primary {
    background-color: $primary;
    border-color: $primary;
    color: $white;
    &:hover, &:focus, &:active {
      background-color: $secondary;
      border-color: $secondary;
    }
  }
  &-outline-primary {
    border-color: $primary;
    color: $primary;
    &:hover {
      background-color: $secondary;
      border-color: $secondary;
      color: $white!important;
    }
  }
}